html {
    background-color: #0d1117;
    font-family: 'Outfit', sans-serif;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0; 
    padding: 0;
}

nav {
    border-bottom: 1px solid #272d33;
    padding: 16px;
    background-color: #010409;
    font-size: larger;
    font-weight: bold;
}

body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;

}

main {
    padding: 36px;
    margin-bottom: 26px;
}

.list-card {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 24px;
}

p, a, h3, ol, li, ul , th, tr {
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    color:#eb5e55
}

h2 {
    color: #FFFFFF
}

a:hover {
    color: #eb5e55;
    text-decoration: underline;
}

a:active {
    color:#eb5e55;
}

img {
    height: 225px;
    border-radius: .5em;
    box-shadow: 8px 8px 5px #eb5e55;
}

th {
    background-color: #0d1117;
}

tr:nth-child(odd) {
    background-color: #272d33;
}

td {
    text-align: center;
}

.rating-field {
    display: flex;
}

.star-icon {
    height: 2em;
    padding-top: 0.8em;
}

.rating{
    color: #FFFFFF;
    padding-top: 1.2em;
    padding-left: .5em;
}

.footer {
    background-color: #161b22;
    font-size: medium;
    color: white;
    margin: auto;
    padding: 16px;
    left: 0;
    bottom: 0;
    width: 100%;
}
